:root {
	--primary-color: #fffaf1;
	--secondary-color: #2b2b2b;
	--tertiary-color: #272727;
	--quaternary-color: #000000;
}

body {
	width: 100%;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	font-family: Montserrat;
	display: flex;
	flex-direction: column;
	text-align: center;
  margin-top: 300px;
}
